/*This stylesheet contains the overall theme of the website*/
ul
{
	width:100%;
	list-style:none;
	float:center;
}

ul li
{
	min-width:18%;
	float:left; /*Aligns a horizontal nav bar*/
	background-color: blue;
	border-style:groove;
	border-width:1px;
}

li a
{
	/*Add a neat hover animation through javascript later*/
	width: 100%;
	display: block;
	padding:5px;
	text-decoration: none;
	text-align:center;
	color:white;
}

#aboutmepic, #aboutmepic2, #aboutmepic3
{
	width:30%;
	height:30%;
	margin:3%;
}

#aboutmepic
{
	float:right;
}

#aboutmepic2
{
	float:left;
}

#aboutmepic3
{
	float:right;
}
/*Allows drop down navigation functionality
ul ul {
    position: absolute;
    display: none;
}

li:hover ul {
    display: block;
}
*/

body
{
	margin:0px 30px;
	padding:5px;
	width: 100%;
	max-width: 915px;
	background-color:#99ccff;
	color:#001933;
}

p#about /*text on the About page*/
{
text-align:left;
}

#txtAddEntry, #txtTitle/*TextArea for new blog entry*/
{/*Reminder to only make visible to admin*/
	width:100%;
}

.input /*Form _POST data on Blog Page*/
{
	margin: 10px 10px 0px 10px;
}

#btnAddEntry /*Button on blog page*/
{/*Reminder to only make visible to admin*/
	float:right;
}

#btnSend /*Button on contact page*/
{
	float:left;
}

div#contactform /*left-side of contact page*/
{
	float:left;
	width:75%;
	overflow:hidden;
}

div#extrainfo /*right-side of contact page*/
{
	margin-left:15%;
	width:25%;
	overflow:hidden;
}

div.entry /*blog entry on blog page*/
{
border: 5px outset blue;
margin:10px;
padding:5px;
}

div.entry h3, div.entry p
{
text-align:center;
}

textarea, input
{
background-color:#cce5ff;
}

#txtMessage /*message textarea on Contact Page*/
{
min-width:55%;
}

