/*This stylesheet contains the overall theme layout for the website*/
/*Theme colors #0000ff, #0000e5, #0000cc, #ffffff, #000000*/

/*Start styling for all pages*/
div.content
{
	margin:5%;
	background-color:#ffffff;
	color:#000000;
}

body
{
	margin:0;
}

:focus /*For all elements*/
{
	outline:none;
}
/*End styling for all pages*/

/*Start styling for navigation and footer*/
nav
{
	position:fixed;
	width:100%;
	top:0;
}

footer
{
	position:fixed;
	width:100%;
	bottom: 0;
	color:#ffffff;
	text-align:center;
}

footer a
{
	color:white;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:2px;
	overflow:hidden;
	background-color:#0000e5;
}

li
{
	display:inline;
	font-size:18pt;
}

li a
{
	color:white;
	text-align:center;
	padding:14px 16px;
	margin:0;
	text-decoration:none;
}

li a:hover
{
	background-color:#0000cc;
}

li a.active
{
	background-color:#0000ff;
}
/*End styling for navigation and footer*/

/*Start styling for home/index page*/
#blogdiv
{
	margin:0px 10px;
	overflow:hidden;
}

#projectdiv
{
	margin:0px 10px;
	float:left;
	width:25%;
	overflow:hidden;
}

#jobdiv
{
	margin:0px 10px;
	float:right;
	width:25%;
	overflow:hidden;
}
/*End Styling for home page*/

/*Start styling for about page*/
#aboutmepic, #aboutmepic2, #aboutmepic3
{
	width:30%;
	height:30%;
	margin:2%;
}

#aboutmepic, #aboutmepic3
{
	float:right;
}

#aboutmepic2
{
	float:left;
}
/*End styling for about page*/

/*Start styling for project and blog pages*/
#txtAddEntry, #txtBlogTitle, #txtProjectTitle, #txtProjectEntry, #txtTechnologies, #txtProjectURL, #txtDates, #txtDateStarted /*TextArea for new blog entry*/
{/*Reminder to only make visible to admin*/
	width:100%;
	border-radius:15px;
	padding:5px;
	color:#000000;
}

#txtSearch/*used for pulling queries to search previous entries*/
{
	width:40%;
	border-radius:15px;
	padding:5px;
	color:#000000;
}

#txtUser, #txtPassword
{
/*Login form*/
	float:right;
	width:80px;
	border-radius:15px;
	margin-right:5px;
	padding:5px;
	color:#000000;
}

.input /*Form _POST data on Blog Page*/
{
	margin: 10px 0px;
}

div.entry /*blog entry on blog page*/
{
	border: 5px solid #0000cc;
	border-radius:15px;
	margin:10px 0px;
	padding:5px;
}

div.entry h3, div.entry p
{
	text-align:center;
}

h1
{
	text-align:center;
}

#btnAddProject, #btnSearch, #btnAddEntry, #btnSend, #btnLogin /*Buttons for all pages*/
{
	border: 5px outset #0000cc;
	border-radius:15px;
	padding:2px;
	background-color:#0000e5;
	color:#ffffff;
}

textarea
{
	resize:none;
}
/*End styling for blog and project pages*/

/*Start styling for contact page*/
div#contactform /*left-side*/
{
	float:left;
	width:60%;
	overflow:hidden;
	margin-bottom:40px;
}

#txtMessage, #txtSubject, #txtEmail, #txtName /*message textarea on Contact Page*/
{
	width:90%;
	color:#000000;
	padding:5px;
	border-radius:15px;
}

div#extrainfo /*right-side*/
{
	float:right;
	overflow:hidden;
}
/*End styling for contact page*/

