/*This stylesheet contains the overall theme of the website*/

nav ul
{
	width:100%;
	list-style:none;
}

nav ul li
{
	min-width:18%;
	float:left; /*Aligns a horizontal nav bar*/
	background-color: blue;
	border-style:groove;
	border-width:1px;
	}

nav li a
{
	/*Add a neat hover animation through javascript later*/
	width: 100%;
	display: block;
	padding:5px;
	text-decoration: none;
	text-align:center;
	color:white;
}

body
{
	width: 100%;
	max-width: 960px;
}